body{
  font-family: 'Rubik', sans-serif;
}

.main-container {
  height: 300px;
  width: 100%;
  text-align: center;
  margin: 20px 0px 20px 0px;
  background-image: url('/images/HomeBeach.jpg');
  background-position: 50% 75%;
  background-repeat: no-repeat;
}

.main-headder{
  font-weight: 700;
  font-size: 70px;
  color: blue;
}

.main-subheadding{
  font-weight: 700;
  font-size: 30px;
  color: blue;
}

.profile-pic{
  height: 80px;
}
