body{
  font-family: 'Rubik', sans-serif;
}

.main-container {
  height: 300px;
  width: 100%;
  text-align: center;
  margin: 20px 0px 20px 0px;
  background-image: url('/images/HomeBeach.jpg');
  background-position: 50% 75%;
  background-repeat: no-repeat;
}

.main-headder{
  font-weight: 700;
  font-size: 70px;
  color: blue;
}

.main-subheadding{
  font-weight: 700;
  font-size: 30px;
  color: blue;
}

.profile-pic{
  height: 80px;
  width: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.container{
  margin: 0px auto 0px auto;
  width: 50%;
}

.navButton{
  height: 30px;
  width: 90px;
  margin: 3px;
  background-color: blue;
  color: white;
}

.navButton:hover {
  border-color: red;
  color: red;
}

.about-text{
  text-align: center;
  width: 80%;
  margin: 30px auto 30px auto;
}

.contact-body{
  width: 50%;
  height: 200px;
  border: 1px solid blue;
  margin: 20px auto 0px auto;
  padding: 10px;
}
